<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">

	<head>
		<title>{%block title %}{{title}}{%endblock%}</title>
		<meta name="description" content="">
		<meta name="author" content="">


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>

		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css">

		<!-- CSS -->
		<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/base.css" rel="stylesheet">

		<script src="{{STATIC_URL}}js/app.js"></script>
		<script src="{{STATIC_URL}}js/datatable.js"></script>
		<script src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
		<script src="{{STATIC_URL}}js/modals.js"></script>
		<script src="{{STATIC_URL}}js/jquery.form.js"></script>


		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="../assets/js/html5shiv.js"></script>
		<![endif]-->

	
		{%block scripts%}
		{%endblock%}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

<body>
	<!-- Part 1: Wrap all page content here -->
	<div id="wrap">
		<!-- Begin page content -->
		<div class="container">
			<div class="page-header">
				<ul id="menu">
					{%if user.is_authenticated%}<li><a>Welcome {{user.first_name}}!</a></li>{%endif%}
					<li>
						<a href="{%url home%}">Home</a><!-- Begin Packages Item -->				
					</li>
					<li>
						<a href="#">Packages</a><!-- Begin Packages Item -->				
					</li><!-- End Packages Item -->
					<li>
						<a href="{% url features %}">Features</a><!-- Begin 5 columns Item (the 'quotes for django 1.5') -->
					</li><!-- End 5 columns Item -->
					<li>
						<a href="{% url support %}">Support</a><!-- Begin 5 columns Item (the 'quotes for django 1.5')-->
					</li><!-- End 5 columns Item -->
					<li>
						<a href="#">Organization</a><!-- Begin 5 columns Item -->
						<ul class="submenu">
								<li><a href="{% url add_referral %}">Add Referral</a></li>
								<li><a href="{% url search_referrers %}">Search Referrers</a></li>
								<li><a href="{% url view_referrers %}">View Referrers</a></li>
								<li><a href="{% url calculate_gifts %}">Send Gifts</a></li>
								<!--<li><a href="{% url send_message %}">Send Message</a></li>-->
								<li><a href="{% url postman_inbox %}">View Inbox</a></li>
								<li><a href="{% url postman_sent %}">View Outbox</a></li>
								<li><a href="{% url search_organization %}">Organizations</a></li>
						</ul>

					</li><!-- End 5 columns Item -->
					<li>
						<a href="#">Individuals</a>
							<ul class="submenu" style="width:125px;height:30px;">
								<li><a href="{% url view_referred %}">View Referred</a></li>
							</ul><!-- Begin 5 columns Item -->
					</li><!-- End 5 columns Item -->
					{%if user.is_authenticated%}
					<li style="float:right;">
						<a href="#">Settings</a>
						<ul class="submenu" style="width:118px;border-radius:0px 0px 0px 0px">
							<li>
								<a href="{% url edit_profile%}">Edit Profile</a>
							</li>
							<li>
								<a href="{% url auth_logout%}">Logout</a>
							</li>	
						</ul>
					</li>
					{%else%}
					<li style="float:right;">
							<a href="{% url auth_login%}">Login</a>
					</li>
					{%endif%}
				</ul>

				<br>
			</div>	
			{%block logo%}
			{%endblock%}
			<div style="overflow:auto">
				<!--laptop image left-->
				<div style="float:left;width:45%;">
					<div>
						{%block left%}
						{%endblock%}
					</div>
				</div>
			<!--signup-->
			<div style="float:right; width:45%;">
				<div>
					{%block right%}
					{%endblock%}
				</div>
			</div>
		</div>
		<div style="width:100%">
			{%block forms%}
			{%endblock%}
			{%block content%}
			{%endblock%}
		</div>
		</div><!--end container-->
		<div id="push"></div>
	</div><!--end wrap-->
	<!--begin footer-->
	<div id="footer">
			<div class="container">
				<table border="0" bordercolor="black" style="background-color:FFFFCC" width="100%" cellpadding="3" cellspacing="3">
					<tr>
						<td><a href="{% url terms_conditions %}">Terms & Conditions</a></td>
						<td><a href="{% url privacy_policy %}">Privacy Policy</a></td>
						<td><a href="{% url disclaimer %}">Disclaimer</a></td>
						<td><a href="{% url site_map %}">Sitemap</a></td>
					</tr>
				</table>
			</div>
		</div><!--endfooter-->
	</body>
</html>
