{%extends "base_site.html" %}
    {%block scripts%}
  	<link href="{{STATIC_URL}}css/index.css" rel="stylesheet">  
    {%endblock%}
	{%block logo%}
	    <div id="notification">
			<!--logo left-->
			<div style="float:left">
				<a href="/" title="Logo of ReferralBuddy" id="logo">
					<img src="{{STATIC_URL}}/img/Logo.png" alt="logo" />
				</a>
			</div>
			<!--dynamic text-->
			<div class="testimonial">
			<div class="left-quote">&nbsp;</div>
			<div class="testi-text" style="float:left">
				{{content.top_content}} 
			</div>

		</div>
	</div>
	{%endblock%}
		{%block left%}
			<div id="youtube">
				<iframe width="430" height="280" src="http://www.youtube.com/embed/23i-BvSZqzU" frameborder="0" allowfullscreen></iframe>
			</div>
		
		{%endblock%}
		{%block right%}
		{%if not user.is_authenticated%}
			<form method="post" action="{%url registration_register%}">
				<div><h3>Easy Subscription</h3></div>
				<div class="frm_cont">
						<div class="frm_label"><label for="id_username" style="width:100%;">Username:</label></div>
						<div class="frm_field">{{ form.username }}</div>
				</div>
				<div class="frm_cont">
					<div class="frm_label">
						<label for="id_email">Email address:</label>
					</div>
					<div class="frm_label">{{ form.email }}</div>	
				</div>
				<div class="frm_cont">
					<div class="frm_label">
						<label for="id_password1">Password:</label>
					</div>
					<div class="frm_label">{{ form.password1 }}</div>	
					</div>
				<div class="frm_cont">
					<div class="frm_label">
						<label for="id_password2">Password <br/>(type again to catch any typos):</label>
					</div>
					<div class="frm_label">{{ form.password2 }}</div>
					</div>
				<div>
				<div>
					{%csrf_token%}
					<input type="submit" value="Register" class="btn btn-success" />
				</div>
			</form>
			{%endif%}
		{%endblock%}
