{%extends "base_site.html" %}

    {%block scripts%}
  	<link href="{{STATIC_URL}}css/site_map.css" rel="stylesheet">  
    {%endblock%}-->

<<<<<<< Updated upstream
{%block logo%}
	    <div id="notification">
			<!--dynamic text-->
			<div class="testimonial">
			<div class="testi-text" style="float:left"><h3>Put the site map  here</h3> 
			</div>
			<!--
			<div class=".fancybox"><img src="client.jpg" alt="Client Name" width="77" height="109" /></div>
			-->
			
			</div>
=======
{%block left%}
			<div id='left_content'><h3>put the left block here site_map</h3></div>
{%endblock%}
>>>>>>> Stashed changes




		</div>
	{%endblock%}
  


