@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans);
@import url(http://fonts.googleapis.com/css?family=Bubbler+One);

body {
    font-weight: bold !important;
}
.frm_label {
    width:20%;
    float:left;
}

.frm_field {
    width:25%;
    float:left;
}

.frm_err {
    text-align: center;
    width:100%;
    height:18px;
}

.frm_cont {
    width:100%;
    height:60px;
}

.left_title{
    color:#9E48B9;
    font-size: 26px;
    margin-left: 40px;
    margin-bottom: 25px;
    font-weight: bold;
}

.left_paragraph{
    color:black;
    font-size: 17px;
    margin-left: 50px;
}

.right_title{
    color:#9E48B9;
    font-size: 26px;
    margin-right: 40px;
    margin-bottom: 25px;
    font-weight: bold;
}

.right_paragraph{
    color: black;
    font-size: 17px;
    margin-right: 50px;
}

.container {
    width: auto;
    max-width: 980px;
}

.container .credit {
    margin: 20px 0;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
height: 100%;
font-family: 'Bubbler One', sans-serif;

/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
height: 90px;
}
#footer {
background-color: black;
}

#footer a{
color:white;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
margin-left: -20px;
margin-right: -20px;
padding-left: 20px;
padding-right: 20px;
}
}

ul ul{
    display: none;
}

ul li:hover >ul{
    display: block;

}


ul .submenu {
    float:none;
    border-radius: 7px;
    padding: 0;
    position: relative;
    top:100%;
    background-color: #9E48B9;
    text-align: center;
        position: absolute;
        z-index: 1000;
}

/*#menu2 li a, #menu2 li a:hover{   
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
    }

/*#menu2 li a:hover{
    
    color: black !important;
    }*/


.btn-signup{
    width: 220px !important;
    background-color: #f5f5f5;
    *background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #FF0B25, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0B25), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #FF0B25, #f5f5f5);
    background-image: -o-linear-gradient(top, #FF0B25, #f5f5f5);
  background-image: linear-gradient(to bottom, #FF0B25, #f5f5f5);
}

.icons {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    height: 20px;
    width: 20px;
}

#notification {
    overflow:auto;
    border-bottom:1px solid #8F9499;
}

.page-header {

    border-bottom: none !important;
}
#logo img {
width: 150px;
height: 80px;
padding-bottom: 10px;
}

#laptop {
width: 680px;
height: 432px;
}

body, ul, li {
font-size:14px; 
/*
font-family:Arial, Helvetica, sans-serif;
*/line-height:21px;
text-align:left;
}

#menu {
list-style:none;
width:880px;
margin:30px auto 0px auto;
height:33px;
padding:0px 20px 0px 20px;

/* Rounded Corners */

-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;

/* Background color and gradients */

background: #9E48B9;
/*background: -moz-linear-gradient(top, #0272a7, #013953);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));

/* Borders */
-moz-box-shadow: 0 0 10px #888;
-webkit-box-shadow: 0 0 10px#888;
box-shadow: 0 0 15px #888;

}

#menu li {
float:left;
display:block;
text-align:center;
position:relative;
margin-right:15px;
margin-top:7px;
border:none;
}

/*#menu li:hover {
color: black;
}
*/
#menu li a {
font-family:Arial, Helvetica, sans-serif;
font-size:12px; 
color: #ffffff;
display:block;
outline:0;
text-decoration:none;
text-shadow: 1px 1px 1px #000;
margin-left: 25px;
}

#menu li:hover > a {
color:#161616;
text-shadow: 1px 1px 1px #ffffff;
}
#menu li .drop {
padding-right:21px;
background:url("img/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
background:url("img/drop.png") no-repeat right 7px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
                    margin:4px auto;
                    float:left;
                    position:absolute;
                    left:-999em; /* Hides the drop down */
                    text-align:left;
                    padding:10px 5px 10px 5px;
                    border:1px solid #777777;
                    border-top:none;
                    /* Gradient background */
                    background:#F4F4F4;
                    background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
                    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
                    /* Rounded Corners */
                    -moz-border-radius: 0px 5px 5px 5px;
-webkit-border-radiu: 0px 5px 5px 5px;
border-radius: 0px 5 5px 5px;
}.dropdown_1column {width: 90px;}
. {width: 280px;}
. {width: 420px;}
. {width: 560px;}
.dropdown_5columns {width: 700px;}
#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
left:-1px;
top:auto;
}
.col_1,
.col_2,
.col_3,
.col_4,
 .col_5 {
 display:inline;
 float: left;
 position: relative;
 margin-left: 5px;
 margin-right: 5px;
 }
 .col_1 {width:130px;}
 .col_2 {width:270px;}
 .col_3 {width:410px;}
 .col_4 {width:550px;}
 .col_5 {width:690px;}
#menu .menu_right {
float:right;
margin-right:0px;
}
#menu li .align_right {
/* Rounded Corners */
-moz-border-radius: 5px 0px 5px 5px;
-webkit-border-radius: 5px 0px 5px 5px;
border-radius: 5px 0px 5px 5px;
}
#menu li:hover .align_right {
left:auto;
right:-1px;
top:auto;
}
#menu p, #menu h2, #menu h3, #menu ul li {
font-family:Arial, Helvetica, sans-serif;
line-height:21px;
font-size:12px;
text-align:left;
text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
font-size:21px;
font-weight:400;
letter-spacing:-1px;
margin:7px 0 14px 0;
padding-bottom:14px;
border-bottom:1px solid #666666;
}
#menu h3 {
font-size:14px;
margin:7px 0 14px 0;
padding-bottom:7px;
border-bottom:1px solid #888888;
}
#menu p {
line-height:18px;
margin:0 0 10px 0;
}
#menu li:hover div a {
font-size:12px;
color:#015b86;
}
#menu li:hover div a:hover {
color:#029feb;
}

.strong {
font-weight:bold;
}
.italic {
font-style:italic;
}
.imgshadow { /* Better style on light background */
background:#FFFFFF;
padding:4px;
border:1px solid #777777;
margin-top:5px;
-moz-box-shadow:0px 0px 5px #666666;
-webkit-box-shadow:0px 0px 5px #666666;
box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
width:auto;
float:left;
margin:5px 15px 5px 5px;
}
#menu li .black_box {
background-color:#333333;
color: #eeeeee;
text-shadow: 1px 1px 1px #000;
padding:4px 6px 4px 6px;
/* Rounded Corners */
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
/* Shadow */
-webkit-box-shadow:inset 0 0 3px #000000;
-moz-box-shadow:inset 0 0 3px #000000;
box-shadow:inset 0 0 3px #000000;
}
#menu li ul {
list-style:none;
padding:0;
margin:0 0 12px 0;
}
#menu li ul li {
font-size:12px;
line-height:24px;
position:relative;
text-shadow: 1px 1px 1px #ffffff;
padding:0;
margin:0;
float:none;
text-align:left;
width:130px;
}
#menu li ul li:hover {
background:none;
border:none;
padding:0;
margin:0;
}
#menu li .greybox li {
background:#F4F4F4;
border:1px solid #bbbbbb;
margin:0px 0px 4px 0px;
padding:4px 6px 4px 6px;
width:116px;
/* Rounded Corners */
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
}
#menu li .greybox li:hover {
background:#ffffff;
border:1px solid #aaaaaa;
padding:4px 6px 4px 6px;
margin:0px 0px 4px 0px;
