{%extends "base_site.html"%}
{% block scripts%}
<style>
.error {
	color : red;
}
</style>
<script src="{{STATIC_URL}}js/add_referral.js"></script>
{% autoescape off %}

{%endautoescape%}
{% endblock %}

{%block forms %}
	
	<div style="width:100%;">
		<form name="add_referrer" method="post">
			<div style="width:100%;height:50px;">
				<div style="width:20%;float:left;text-align:right;">
					Department:
				</div>
				<div style="width:20%;float:left;padding-left:20px;">
					{{form2.department}}
				</div>
			</div>
			<div style="width:100%;height:50px;">
				<div style="width:30%;height:50px;margin-left:100px;">
					<b>Add the referrer:</b>
					
				</div>
			</div>
			<div style="width:100%;height:50px;">
					<div style="width:20%;float:left;text-align:right;">
						Email:
					</div>
					<div style="width:20%;float:left;padding-left:20px;">
						{{form.email}}
					</div>
					<div>{% if form.email.errors %} <span class="error">{{ form.email.errors|join:", " }}</span>{% endif %}</div>
				</div>
			
				<div style="width:100%;height:50px;">
					<div style="width:20%;float:left;text-align:right;">
						First Name:
					</div>
					<div style="width:20%;float:left;padding-left:20px;">
						{%csrf_token%}
						{{form.first_name}}
					</div>
					<div>{% if form.first_name.errors %} <span class="error">{{ form.first_name.errors|join:", " }}</span>{% endif %}</div>
				</div>
				<div style="width:100%;height:50px;">
					<div style="width:20%;float:left;text-align:right;">
						Last Name:
					</div>
					<div style="width:20%;float:left;padding-left:20px;">
						{{form.last_name}}
					</div>
					<div>{% if form.last_name.errors %} <span class="error">{{ form.last_name.errors|join:", " }}</span>{% endif %}</div>
				</div>
				<div style="width:100%;height:50px;">
					<div style="width:20%;float:left;text-align:right;">
						DOB:
					</div>
					<div style="width:20%;float:left;padding-left:20px;">
						{{form.dob}}
					</div>
					<div>{% if form.dob.errors %} <span class="error">{{ form.dob.errors|join:", " }}</span>{% endif %}</div>
				</div>
			
			
			<div id="breaker" style="height:50px;"></div>
			<div style="width:100%;height:50px;">
				<div style="width:30%;height:50px;margin-left:100px;">
					<b>Add the person referred</b>
				</div>
			</div>
			<div style="width:100%;height:50px;">
					<div style="width:20%;float:left;text-align:right;">
						Email:
					</div>
					<div style="width:20%;float:left;padding-left:20px;">
						{{form1.email}}
					</div>
					<div>{% if form1.email.errors %} <span class="error">{{ form1.email.errors|join:", " }}</span>{% endif %}</div>
			</div>
			
				<div style="width:100%;height:50px;">
					<div style="width:20%;float:left;text-align:right;">
						First Name:
					</div>
					<div style="width:20%;float:left;padding-left:20px;">
						{{form1.first_name}}
					</div>
					<div>{% if form1.first_name.errors %} <span class="error">{{ form1.first_name.errors|join:", " }}</span>{% endif %}</div>
				</div>
				<div style="width:100%;height:50px;">
					<div style="width:20%;float:left;text-align:right;">
						Last Name:
					</div>
					<div style="width:20%;float:left;padding-left:20px;">
						{{form1.last_name}}
					</div>
					<div>{% if form1.last_name.errors %} <span class="error">{{ form1.last_name.errors|join:", " }}</span>{% endif %}</div>
				</div>
				<div style="width:100%;height:50px;">
					<div style="width:20%;float:left;text-align:right;">
						DOB:
					</div>
					<div style="width:20%;float:left;padding-left:20px;">
						{{form1.dob}}
					</div>
					<div>{% if form1.dob.errors %} <span class="error">{{ form1.dob.errors|join:", " }}</span>{% endif %}</div>
				</div>
			
			<div style="width:100%;height:50px;">
				<div style="width:30%;height:50px;text-align:right;">
					<input type="hidden" name="referral_id" value="{{referral_id}}"/>
					<input type="hidden" name="action" value="add_referrer"/>
					<input type="submit" value="Save" id="finished" class="btn btn-success"/>
				</div>
			</div>
		</form>
	</div>

	
{%endblock%}