{% extends "base_site.html" %}
{%block scripts%}
	{%if results %}
		<script>
			var nationwide = nationwide || {};

			$(function(){
	
	
				var aaColumns = [
					{'sTitle' : ''}, 
					{'sTitle' : 'Organization Name'},
					{'sTitle' : 'Industry'},
					{'sTitle' : 'State'},
					{'sTitle' : 'Country'},
					{'sTitle' : 'Contact Last Name'},
					{'sTitle' :  'Contact Email'}
				]

				

				var referred_table = nationwide.utils.datatable_factory(false, {{results|safe}}, aaColumns, "button",
					function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
						var id = aData[0];
						var $elm = $("<button>",{"html" : "Send Message"});
						$elm.attr('id',id);
						$elm.addClass('btn');
						$elm.on('click', function(){
							window.location.href = '/referrals/send_message?org_id=' + $(this).attr('id');
						});
						$('td:eq(0)', nRow).html($elm);
					}
				);

				$("#results").dataTable(referred_table);

				$("#results tr td").css({'text-align' : 'left', 'padding-left' : '25px'});

			});
		</script>
	{%endif%}
{%endblock%}
{%block forms %}
<form method="post" name="frm_create_profile">
	{%csrf_token%}
	<div style="width:100%;height:50px;">
		<h3>Search for Organizations (leave blank to return all organizations)</h3>
	</div>
	<div style="width:100%;height:50px;">
		<div style="float:left;width:20%;text-align:right;text-align:right;">Organization Name:</div>
		<div style="float:left;width:20%;padding-left:20px;"><input type="text" name="business_name"/></div>
	</div>
	<div style="width:100%;height:50px;">
		<div style="float:left;width:20%;text-align:right;text-align:right;">State:</div>
		<div style="float:left;width:20%;padding-left:20px;"><input type="text" name="state"/></div>
	</div>
	<div style="width:100%;height:50px;">
		<div style="float:left;width:20%;text-align:right;text-align:right;">Country:</div>
		<div style="float:left;width:20%;padding-left:20px;"><input type="text" name="country"/></div>
	</div>
	<div style="width:100%;height:50px;">
		<div style="float:left;width:20%;text-align:right;text-align:right;">Industry:</div>
		<div style="float:left;width:20%;padding-left:20px;"><input type="text" name="industry"/></div>
	</div>
	<div style="width:50%;height:50px;text-align:center;" id="submit_btn">
		<input type="submit" value="Search" class="btn btn-success"/>
	</div>
</form>
<div style="width:90%;margin-left:50px;">
	<table id="results" style="width:100%"></table>
</div>
{%if not results %}
	{%ifequal request.method "POST" %}
		<div style="width:90%;margin-left:50px;">
			<h3>No Results Found</h3>
		</div>
	{%endifequal%}
{%endif%}

{%endblock%}