{%extends "base_site.html"%}

{% block title %}Reset Password{% endblock %}

{% block scripts %}
<style>
.error {
	color : red;
}
</style>
{% endblock %}

{%block left%}
{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form method="post">

<div class="frm_err">{% if form.email.errors %} <span class="error">{{ form.email.errors|join:", " }}</span>{% endif %}</div>	
<div class="frm_cont">
	<div class="frm_label">
		<label for="id_email" style="width:100%;">Email:</label>
	</div>
	<div class="frm_field">{{ form.email }}</div>
</div>

<div>
	<div>
		{%csrf_token%}
		<input type="submit" value="Reset Password" />
	</div>
</div>
</form>
{% endblock %}